.text-orange{
    color: #ea8f2e;
}
.bg-orange {
    background-color: #ea8f2e;
}

.bg-f2ca81 {
    background-color: #f2ca81;
}

.bg-eacdad{
    background-color: #eacdad;
}

.fpt-logo{
    width: 250px;
    height: 100%;
}

.icon{
    width: 20px;
    height: 20px;
}

.home-student{
    background-color: rgb(232, 236, 239);
    width: 200px;
}

.icon-second{
    width: 40px;
    height: 40px;
}