.sidebar-wrapper {
    position: fixed;
    left: -250px; /* Sidebar bị ẩn */
    width: 250px;
    height: 100vh;
    background-color: #fffed1;
    padding: 20px 10px;
    transition: all 0.3s ease-in-out;
    border-right: 1px solid #ddd;
    z-index: 1000;
}

.sidebar-wrapper.open {
    left: 0; /* Sidebar trượt ra */
}

/* Nội dung chính (main content) */
.main-content {
    margin-left: 0;
    transition: margin-left 0.3s ease-in-out;
}

.sidebar-wrapper.open + .main-content {
    margin-left: 250px; /* Đẩy nội dung sang bên khi sidebar mở */
}

/* Header */
.header {
    background-color: #343a40;
}
